@media only screen and (max-width: 570px) {
    .logout{
        margin-top: 1rem;
    }
  }

/* @media only screen and (min-width: 575px)  {
    .search-form{
        float: left;
    }
} */
@media only screen and (min-width: 650px) {
    .search-form{
        float: right;
    }
}

.blue{
    background-color: #aadae2;
}